<template>
  <div 
    class="
      w-screen h-screen 
      absolute top-0 left-0 
      flex items-center justify-center
    "
  >
    <div 
      class="
        bg-gray-900 opacity-50 
        flex items-center justify-center
        absolute top-0 left-0 w-full h-full
      "
      @click="emit('onBlackoutClick')"
    ></div>
    <div class="p-4 rounded-2xl relative z-50 bg-white w-[512px] space-y-4">
      <ul class="space-y-2">
        <li class="mb-4">
          <p class="flex items-center justify-between text-xl">
            <span class="font-medium">Название борща x Количество</span>
            <span class="font-semibold">Цена</span>
          </p>
        </li>
        <li 
          v-for="(item, idx) in selectedBorschts" 
          :key="idx"
        >
          <div class="flex items-center justify-between text-lg">
            <div class="flex items-center space-x-4">
              <p class="font-medium">{{ item.title }}</p>
              <div class="flex items-center space-x-1">
                <button 
                  type="button"
                  class="p-2 rounded-full h-6 w-6 bg-green-400 flex items-center justify-center font-semibold"
                  @click="emit('onDecrease', item.idx)"
                >
                  -
                </button>
                <p class="font-bold text-xl">
                  {{ item.addedAmount }}
                </p>
                <button 
                  type="button"
                  class="p-2 rounded-full h-6 w-6 bg-green-400 flex items-center justify-center font-semibold"
                  @click="emit('onIncrease', item.idx)"
                >
                  +
                </button>
              </div>
            </div>
            <span class="font-semibold">{{ item.totalPrice }} млн. ₸</span>
          </div>
        </li>
        <li>
          <p class="flex items-center justify-between text-xl">
            <span class="font-medium">Итого</span>
            <span class="font-semibold">{{ totalSum }} млн. ₸</span>
          </p>
        </li>
      </ul>
      <div class="flex space-x-4">
        <button 
          type="button"
          class="w-full px-4 py-2 bg-green-400 rounded-xl"
          @click="emit('onBuyClick')"
        >
          Купить
        </button>
        <button 
          type="button"
          class="w-full px-4 py-2 bg-red-400 rounded-xl"
          @click="emit('onCloseClick')"
        >
          Закрыть
        </button>
      </div>
    </div>
  </div>
</template>

<script setup lang=ts>
  import { computed } from 'vue';
  import values from 'lodash/values';
  import type { BasketBorscht } from '../types';

  const props = defineProps<{
    selectedBorschts: BasketBorscht[];
  }>();

  const emit = defineEmits<{ 
    onDecrease: [idx: number];
    onIncrease: [idx: number];
    onBlackoutClick: []; 
    onBuyClick: [];
    onCloseClick: [];
  }>();

  const totalSum = computed(() => {
    return values(props.selectedBorschts).reduce((total, nextItem) => {
      return total += nextItem.totalPrice;
    }, 0)
  });
</script>