<template>
  <div 
    class="
      w-screen h-screen 
      absolute top-0 left-0 
      flex items-center justify-center
    "
  >
    <div 
      class="
        bg-gray-900 opacity-50 
        flex items-center justify-center
        absolute top-0 left-0 w-full h-full
      "
      @click="emit('onBlackoutClick')"
    ></div>
    <div class="p-4 relative z-50 bg-green-400 space-y-4">
      <h2 class="text-4xl font-bold">ВЫ УСПЕШНО КУПИЛИ БОРЩИ!</h2>
    </div>
  </div>
</template>

<script setup lang=ts>
  const emit = defineEmits<{ 
    onBlackoutClick: []; 
  }>();
</script>