<template>
  <header class="fixed flex top-0 left-0 h-20 w-full bg-green-300">
    <div class="w-full flex items-center justify-end mx-6">
      <button
        type="button"
        class="relative"
        @click="emit('onBasketClick')"
      >
        <img 
          width="48" 
          height="48" 
          src="@/assets/images/basket.png" 
          alt="Корзина"
        />
        <p
          v-if="addedBorschtsAmount > 0"
          class="
          bg-yellow-300 w-6 h-6 rounded-full 
            absolute -bottom-1 -right-1 
            flex items-center justify-center
            font-semibold text-base
          "
        >
          {{ addedBorschtsAmount }}
        </p>
      </button>
    </div>
  </header>
</template>

<script setup lang="ts">
  defineProps<{
    addedBorschtsAmount: number;
  }>();

  const emit = defineEmits<{ onBasketClick: []; }>();
</script>