<template>
  <div 
    class="
      flex flex-col p-6 rounded-2xl space-y-4
      bg-green-300 bg-opacity-50 card-shadow
    "
  >
    <div>
      <img 
        :src="getImgSrc(soup.imgName)"
        class="max-h-[120px] min-h-[120px] mb-2 w-full"
        alt=""
      />
      <h2 class="text-2xl font-semibold flex-shrink-0">
        {{ soup.title }}
      </h2>
    </div>
    <div class="space-y-2 text-lg">
      <h3>
        Осталось борщиков:
        <span class="font-semibold">
          {{ soup.amount }}
        </span>
      </h3>
      <h4>
        Цена:
        <span class="font-semibold">
          {{ soup.price }} млн.
        </span>
        <span class="font-medium">₸</span>
      </h4>
      <div class="flex items-center">
        <p class="mr-4">Количество:</p>
        <div class="flex items-center space-x-1">
          <button 
            type="button"
            class="p-2 rounded-full h-6 w-6 bg-green-400 flex items-center justify-center font-semibold"
            @click="decreaseAmountToAdd"
          >
            -
          </button>
          <p class="font-bold text-xl">{{ amountToAdd }}</p>
          <button 
            type="button"
            class="p-2 rounded-full h-6 w-6 bg-green-400 flex items-center justify-center font-semibold"
            @click="increaseAmountToAdd"
          >
            +
          </button>
        </div>
      </div>
    </div>
    <button 
      type="button"
      class="
        px-4 py-2 bg-green-400 rounded-xl
        text-xl font-semibold text-gray-900
      "
      @click="handleAddToBasket"
    >
      Добавить в корзину
    </button>
  </div>
</template>

<script setup lang="ts">
  import { ref } from 'vue';

  import type { Borscht } from '@pages/main/types';

  const props = defineProps<{ soup: Borscht; }>();

  const emit = defineEmits<{
    onAddToBasket: [ id: number, amount: number ];
  }>();

  const amountToAdd = ref(1);

  const increaseAmountToAdd = () => {
    if (amountToAdd.value < props.soup.amount) {
      amountToAdd.value++;
    }
  };

  const decreaseAmountToAdd = () => {
    if (amountToAdd.value > 1) {
      amountToAdd.value--;
    }
  };

  const handleAddToBasket = () => {
    if (props.soup.amount > 0) {
      emit('onAddToBasket', props.soup.idx, amountToAdd.value);
      amountToAdd.value = 1;
    }
  };

  const getImgSrc = (imgName: string) => {
    return new URL(`/src/assets/images/borscht/${imgName}.jpg`, import.meta.url).href;
  };
</script>

<style scoped>
  .card-shadow {
    box-shadow: 0px 5px 20px 0px #0000000D;
  }
</style>