<template>
  <TheHeader :added-borschts-amount="addedBorschts.length" @onBasketClick="showBuyModal" />
  <main class="flex items-center justify-between px-20 bg-gray-200 pt-32">
    <section class="flex h-fit justify-center w-full">
      <ul class="grid grid-rows-2 grid-cols-1 gap-x-8 gap-y-4 lg:grid-cols-3 md:grid-cols-2">
        <li 
          v-for="(soup, idx) in currentBorschts"
          :key="idx"
        >
          <BorschtCard 
            :soup="soup"
            @onAddToBasket="handleAddToBasket"
          />
        </li>
      </ul>
    </section>
    <BuyModal 
      v-show="isBuyModalVisible"
      :selected-borschts="addedBorschts" 
      @onBlackoutClick="hideBuyModal"
      @onCloseClick="hideBuyModal"
      @onBuyClick="handleBuy"
      @onIncrease="handleAddToBasket($event, 1)"
      @onDecrease="handleDecreaseFromBasket($event)"
    />
    <SuccessModal 
      v-show="isSuccessModalVisible" 
      @onBlackoutClick="hideSuccessModal" 
    />
  </main>
</template>

<script setup lang="ts">
  import { ref } from 'vue';

  import { BorschtCard } from '@/entities/borscht-card';
  import { TheHeader, BuyModal, SuccessModal } from './ui';
  import { borschts } from './config';
  import type { Borscht, BasketBorscht } from './types';

  const currentBorschts = ref<Borscht[]>(borschts);

  const addedBorschts = ref<BasketBorscht[]>([]);
  const isBuyModalVisible = ref(false);
  const isSuccessModalVisible = ref(false);

  const handleAddToBasket = (idxToAdd: number, amount: number) =>{
    const borschtInBasket = addedBorschts.value.find(item => item.idx === idxToAdd);
    const selectedBorscht = currentBorschts.value.find(item => item.idx === idxToAdd)!;

    if (borschtInBasket) {
      const newAmount = borschtInBasket.addedAmount + amount;

      if (newAmount > selectedBorscht.initialAmount) {
        borschtInBasket.addedAmount = selectedBorscht.initialAmount;
      } else {
        borschtInBasket.addedAmount = newAmount;
      }
      borschtInBasket.totalPrice = borschtInBasket.addedAmount * borschtInBasket.price;
    } else {
      addedBorschts.value.push({ 
        ...selectedBorscht,
        addedAmount: amount,
        totalPrice: amount * selectedBorscht.price
      });
    }
    const amountToDecrease = borschtInBasket ? borschtInBasket.addedAmount : amount;
    selectedBorscht.amount = selectedBorscht.initialAmount - amountToDecrease;
  };

  const handleDecreaseFromBasket = (idxToDecrease: number) => {
    const borschtInBasket = addedBorschts.value.find(item => item.idx === idxToDecrease)!;
    const selectedBorscht = currentBorschts.value.find(item => item.idx === idxToDecrease)!;

    if (borschtInBasket.addedAmount === 1) {
      const indexToRemove = addedBorschts.value.findIndex(item => item.idx === idxToDecrease);
      const lastIndex = addedBorschts.value.length - 1;
      const endIndex = Math.min(indexToRemove + 1, lastIndex);

      addedBorschts.value = [
        ...addedBorschts.value.slice(0, indexToRemove), 
        ...addedBorschts.value.slice(endIndex, lastIndex)
      ];
    } else {
      borschtInBasket.addedAmount--;
    }
    selectedBorscht.amount++;
  };

  const showBuyModal = () => {
    isBuyModalVisible.value = true;
  };

  const hideBuyModal = () => {
    isBuyModalVisible.value = false;
  }

  const savePurchaseInfo = () => {
    const totalAmount = addedBorschts.value.reduce((total, nextBorscht) => {
      return total += nextBorscht.totalPrice;
    }, 0);

    const data = { totalAmount, timestamp: Date() };

    const baseUrl = import.meta.env.VITE_BASE_URL;
    const url = `${baseUrl}/api/purchases`;

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    });
  };

  const handleBuy = () => {
    if (addedBorschts.value.length > 0) {
      savePurchaseInfo();

      addedBorschts.value = [];
      isBuyModalVisible.value = false;
      showSuccessModal();
    }
  };

  function hideSuccessModal() {
    isSuccessModalVisible.value = false;
  }

  function showSuccessModal() {
    isSuccessModalVisible.value = true;
  }
</script>